<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Process Models</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

</head>
<body>
	<div class="container">
		<div>
			<a th:href="@{model/new}" class="btn btn-info">Add</a>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<td>ID</td>
					<td>Name</td>
					<td>Function</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="model : ${processModels}">
					<td th:text="${model.id}"></td>
					<td th:text="${model.name}"></td>
					<td>
					    <a th:href="@{model/edit/{id}(id=${model.id})}" class="btn btn-default">Edit</a>
                        <a th:href="@{model/delete/{id}(id=${model.id})}" class="btn btn-default">Delete</a>
                        
					    <a th:if="${model.hasEditorSourceExtra() == true}" 
					    th:href="@{model/export/{id}(id=${model.id})}" class="btn btn-default">Export</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>